openapi: 3.0.1
info:
  title: API do Gestor de Laudos
  description: API de acesso a laudos emitidos e/ou armazenados por Lorencini Brasil
  contact:
    name: Suporte Lorencini
    url: https://www.lorencini.com.br
    email: suporte@lorencini.com.br
  version: '1.0'
servers:
  - url: https://api.lorencini.net.br/manager/api
    description: Ambiente de produção
paths:
  /v1/auth:
    post:
      description: Autenticação para acesso a outros endpoints da API
      requestBody:
        description: Geração do token JWT
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                cnpjcpf:
                  type: string
                  description: CNPJ ou CPF da empresa
                email:
                  type: string
                  format: email
                  description: E-mail do usuário
                password:
                  type: string
                  format: MD5
                  description: Senha criptografada com algorítmo MD5
              required:
                - cnpjcpf
                - email
                - password
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  authorization:
                    type: string
                    format: base64
                    description: Token em formato JWT gerado pelo servidor
              examples:
                Token JWT:
                  value:
                    authorization: >-
                      eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJSaWNhcmRvIiwiaXNzIjoiTG9yZW5jaW5pIEJyYXNpbCIsImlhdCI6MTYyNzQyMjI3MywiZXhwIjoxNjI3NDIzMTczLCJ0ZW5hbnRpZCI6NTU5MSwiZW1haWwiOiJpbmZvcm1hdGljYUBsb3JlbmNpbmkuY29tLmJyIn0.w6bTUIuI-lxkYKdxiNXcYTXAHnl8m2QzOmI0j73aMdQ
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/reports:
    get:
      parameters:
        - name: page
          in: query
          description: >-
            Este parâmetro deve ser um valor numérico (maior que zero)
            representando a página solicitada
          schema:
            type: integer
            default: 1
        - name: pagesize
          in: query
          description: >-
            Este parâmetro deve ser um valor numérico (maior que zero)
            representando o total de registros retornados na consulta
          schema:
            type: integer
            default: 15
        - name: order
          in: query
          description: >-
            Lista de campos separados por vírgula. <ul><li>campos precedidos por
            um sinal de subtração (-) devem ser ordenados de forma
            decrescente.</li><li>campos que omitirem o sinal (subtração) devem
            ser ordenados de forma crescente.</li></ul>
          schema:
            type: string
        - name: search
          in: query
          description: Termo para pesquisa.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reports'
              examples:
                Reports:
                  value:
                    hasNext: true
                    items:
                      - report: 148515
                        order: 8407
                        revision: 0
                        status: SIGNED
                        created: '2020-04-15T03:00:00.000Z'
                        received: '2020-04-26T03:00:00.000Z'
                        emmited: '2020-04-16T03:00:00.000Z'
                        nextCollect: '2021-04-09T03:00:00.000Z'
                        reportType: 5
                        typetitle: Laudo Físico Químico
                        typeabbreviation: FQ
                        typedescription: ANALISE FISICO QUIM. COMPLETA1
                        description: ANALISE FISICO-QUIMICA LINHA 7 CPTM
                        diagnostic: >-
                          Os valores obtidos estão de acordo com os limites
                          recomendados.
                        recommendation: Recomenda-se uma nova amostragem em 01 ano.
                        observation: null
                        sign: >-
                          56d9ba4ec637e6b48278c3a7837db9e9fab417399cc298aa14767a64ad94956fa29864144bda0400b1f6e6dbd78c3daac0c4b120d5b75a75d0c34ce690ce78ae
                        criticality:
                          recno: 1
                          label: Rotina
                          level: NORMAL
                          codigo: null
                        hash: 73dcabe7ca8dbe3de7f8ddd810a7edc2
                        customer: null
                        sample: 177774
                        ticket: 177774
                        sampler: MARCOS
                        tenvironment: 18
                        tsample: 20
                        tdevice: 0
                        humidity: 62
                        collect_date: 2021-10-31T
                        expiration_at: 2021-10-31T
                        samplestatus: RELEASED
                        created_at: '2021-10-31T04:36:33.986Z'
                        emitted_at: '2021-10-31T04:36:33.986Z'
                        sent_at: '2021-10-31T04:36:33.986Z'
                        received_at: '2021-10-31T04:36:33.986Z'
                        released: '2021-10-31T04:36:33.986Z'
                        consumed_at: '2021-10-31T04:36:33.986Z'
                        cancelled_at: '2021-10-31T04:36:33.986Z'
                        device: 10074
                        serie: 51107/002
                        devicename: SUBESTAÇÃO TIETÊ - 103 T1
                        devicestatus: 1
                        familyname: null
                        manufacturer: ALSTHOM
                        insulatorname: Óleo Mineral
                        devicetypename: Transformador de Potencia
                        devicetypeabreviation: TPA
                        local: 'SE TIETÊ '
                        substation: null
                        tag: 103T1
                        volume: 11180
                        power: 12.5
                        powera: 12.5
                        powerb: 10
                        powerunit: MVA
                        phases: 3
                        lote: null
                        impedance: 0
                        impedancea: 0
                        impedanceb: 0
                        voltage: 88
                        voltagea: 138
                        voltageb: 33
                        voltageunit: KV
                        electriccurrent: 0
                        electriccurrenta: 0
                        electriccurrentb: 0
                        year: 1987
                        titles:
                          - Cor
                          - Densidade a 20/4 ºC
                          - Fator de Potência a 100 ºC
                          - Indice de Neutralização
                          - Rigidez Dielétrica
                          - Tensão Interfacial, a 25 ºC
                          - Teor de Água
                        results:
                          - 1,5
                          - 0,881
                          - 0,96
                          - 0,01
                          - '75'
                          - '24'
                          - 12,0000
                        assays":
                          - 18
                          - 19
                          - 20
                          - 21
                          - 22
                          - 23
                          - 24
                        note: null
                    _messages: []
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
        - auth: []
  /v2/reports:
    get:
      parameters:
        - name: page
          in: query
          description: >-
            Este parâmetro deve ser um valor numérico (maior que zero)
            representando a página solicitada
          schema:
            type: integer
            default: 1
        - name: pagesize
          in: query
          description: >-
            Este parâmetro deve ser um valor numérico (maior que zero)
            representando o total de registros retornados na consulta
          schema:
            type: integer
            default: 15
        - name: order
          in: query
          description: >-
            Lista de campos separados por vírgula. <ul><li>campos precedidos por
            um sinal de subtração (-) devem ser ordenados de forma
            decrescente.</li><li>campos que omitirem o sinal (subtração) devem
            ser ordenados de forma crescente.</li></ul>
          schema:
            type: string
        - name: search
          in: query
          description: Termo para pesquisa.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reports2'
              examples:
                Reports:
                  value:
                    hasNext: true
                    items:
                      - report: 182207
                        order: 12852
                        revision: null
                        status: Liberado
                        created: '2021-12-01T09:12:58.27489'
                        received: '2021-12-01T08:19:59.513419'
                        executed_at: '2021-12-01T11:19:29.361054'
                        emmited: '2021-12-01T14:21:59.2793'
                        nextCollect: '2022-11-24'
                        reportType: 33
                        typetitle: Laudo Físico Químico
                        typeabbreviation: FQ
                        typedescription: ANALISE FISICO QUIM. COMPLETA2
                        description: 'ANALISE FISICO QUIMICA COMPLETA EM FLUIDOS ISOLANTES - NBR 10576 '
                        diagnostic: Os valores obtidos estão de acordo com os limites recomendados.
                        recommendation: Recomenda-se uma nova amostragem em 01 ano.
                        observation: null
                        sign: 56d9ba4ec637e6b48278c3a7837db9e971cc73de6e48412ddbc2a45c66c99929a6123d7454d9cadb4efc053b3a256c3bc0c4b120d5b75a75d0c34ce690ce78ae
                        criticality:
                          recno: 1
                          label: Rotina
                          level: Normal
                        customer: null
                        sample:
                          sample: 205625
                          ticket: 205625
                          type: Após Recondicionamento / Substituição
                          sampler: DENILDO / ALUIZIO
                          tenvironment: 35
                          tsample: 47
                          tdevice: 47
                          humidity: 48
                          voltage: 69
                          collect_date: '2021-11-24'
                          expiration_at: '2021-10-30'
                          samplestatus: Disponível
                          created_at: '2021-08-31T08:09:45.019452'
                          emitted_at: '2021-08-31T08:09:45.019452'
                          sent_at: '2021-08-31T08:58:36.598099'
                          received_at: '2021-12-01T08:19:59.513419'
                          released: '2021-12-01T09:31:59.385683'
                          consumed_at: 800
                          cancelled_at: null
                        device:
                          serie: KA2450A001
                          name: SE ALCÂNTARA - 02T1
                          status: Operação
                          familyname: null
                          manufacturer: TRAFO
                          insulatorname: Óleo Mineral
                          typename: Transformador de Potencia
                          typeabreviation: TPA
                          local: SE ALCÂNTARA
                          substation: null
                          tag: 02T1
                          volume: 2848
                          power: 5
                          powera: 5
                          powerb: 6.25
                          powerunit: MVA
                          phases: 3
                          lote: null
                          impedance: 6.65
                          impedancea: 6.65
                          impedanceb: 0
                          voltage: 69
                          voltagea: 69
                          voltageb: 13.8
                          voltageunit: KV
                          electriccurrent: 0
                          electriccurrenta: 0
                          electriccurrentb: 0
                          year: 2001
                        results:
                          assays:
                            - assay: 18
                              title: Cor
                              unit: null
                              method: NBR-14483
                              ref_type: null
                              ref_value: null
                              U: 0
                              result: 2
                              history:
                                - report: 166783
                                  emmited_at: '2021-04-01T13:52:10.499165'
                                  result: 2
                                - report: 148334
                                  emmited_at: '2020-04-09T14:16:42.727762'
                                  result: 2
                                - report: 125371
                                  emmited_at: '2019-03-08T14:15:35.182458'
                                  result: 2
                                - report: 110688
                                  emmited_at: '2018-05-08T15:47:33.156771'
                                  result: 2
                                - report: 83003
                                  emmited_at: '2016-07-08T14:40:04.628067'
                                  result: 2
                                - report: 52273
                                  emmited_at: '2015-08-04T16:51:19.882275'
                                  result: 2
                                - report: 38753
                                  emmited_at: '2014-08-25T09:27:02.30295'
                                  result: 1.5
                                - report: 25932
                                  emmited_at: '2013-08-26T14:29:44.992168'
                                  result: 1.5
                                - report: 8184
                                  emmited_at: '2012-04-13T17:47:10.031674'
                                  result: 1.5
                            - assay: 19
                              title: Densidade a 20/4 ºC
                              unit: null
                              method: NBR-7148
                              ref_type: null
                              ref_value: null
                              U: 0
                              result: 0.89
                              history:
                                - report: 166783
                                  emmited_at: '2021-04-01T13:52:10.499165'
                                  result: 0.89
                                - report: 148334
                                  emmited_at: '2020-04-09T14:16:42.727762'
                                  result: 0.899
                                - report: 125371
                                  emmited_at: '2019-03-08T14:15:35.182458'
                                  result: 0.889
                                - report: 110688
                                  emmited_at: '2018-05-08T15:47:33.156771'
                                  result: 0.891
                                - report: 83003
                                  emmited_at: '2016-07-08T14:40:04.628067'
                                  result: 0.891
                                - report: 52273
                                  emmited_at: '2015-08-04T16:51:19.882275'
                                  result: 0.894
                                - report: 38753
                                  emmited_at: '2014-08-25T09:27:02.30295'
                                  result: 0.89
                                - report: 25932
                                  emmited_at: '2013-08-26T14:29:44.992168'
                                  result: 0.89
                                - report: 8184
                                  emmited_at: '2012-04-13T17:47:10.031674'
                                  result: 0.891
                            - assay: 20
                              title: Fator de Potência a 100 ºC
                              unit: '%'
                              method: NBR-12133
                              ref_type: 'Max. '
                              ref_value: 20
                              U: 0
                              result: 0.17
                              history:
                                - report: 166783
                                  emmited_at: '2021-04-01T13:52:10.499165'
                                  result: 0.93
                                - report: 148334
                                  emmited_at: '2020-04-09T14:16:42.727762'
                                  result: 1.08
                                - report: 125371
                                  emmited_at: '2019-03-08T14:15:35.182458'
                                  result: 0.93
                                - report: 110688
                                  emmited_at: '2018-05-08T15:47:33.156771'
                                  result: 0.69
                                - report: 83003
                                  emmited_at: '2016-07-08T14:40:04.628067'
                                  result: 1.1
                                - report: 52273
                                  emmited_at: '2015-08-04T16:51:19.882275'
                                  result: 1.2
                                - report: 38753
                                  emmited_at: '2014-08-25T09:27:02.30295'
                                  result: 4.9
                                - report: 25932
                                  emmited_at: '2013-08-26T14:29:44.992168'
                                  result: 1
                                - report: 8184
                                  emmited_at: '2012-04-13T17:47:10.031674'
                                  result: 1.26
                            - assay: 21
                              title: Indice de Neutralização
                              unit: mg KOH/g
                              method: NBR-14248
                              ref_type: 'Max. '
                              ref_value: 0.2
                              U: 0
                              result: 0.01
                              history:
                                - report: 166783
                                  emmited_at: '2021-04-01T13:52:10.499165'
                                  result: 0.01
                                - report: 148334
                                  emmited_at: '2020-04-09T14:16:42.727762'
                                  result: 0.04
                                - report: 125371
                                  emmited_at: '2019-03-08T14:15:35.182458'
                                  result: 0.01
                                - report: 110688
                                  emmited_at: '2018-05-08T15:47:33.156771'
                                  result: 0.02
                                - report: 83003
                                  emmited_at: '2016-07-08T14:40:04.628067'
                                  result: 0.02
                                - report: 52273
                                  emmited_at: '2015-08-04T16:51:19.882275'
                                  result: 0.02
                                - report: 38753
                                  emmited_at: '2014-08-25T09:27:02.30295'
                                  result: 0.01
                                - report: 25932
                                  emmited_at: '2013-08-26T14:29:44.992168'
                                  result: 0.02
                                - report: 8184
                                  emmited_at: '2012-04-13T17:47:10.031674'
                                  result: 0.11
                            - assay: 34
                              title: Rigidez Dielétrica
                              unit: kV
                              method: NBR-6869
                              ref_type: 'Min. '
                              ref_value: 45
                              U: 0
                              result: 56
                              history:
                                - report: 166783
                                  emmited_at: '2021-04-01T13:52:10.499165'
                                  result: 69
                                - report: 148334
                                  emmited_at: '2020-04-09T14:16:42.727762'
                                  result: 48
                                - report: 125371
                                  emmited_at: '2019-03-08T14:15:35.182458'
                                  result: 47
                                - report: 110688
                                  emmited_at: '2018-05-08T15:47:33.156771'
                                  result: 42
                                - report: 83003
                                  emmited_at: '2016-07-08T14:40:04.628067'
                                  result: 92
                                - report: 52273
                                  emmited_at: '2015-08-04T16:51:19.882275'
                                  result: 50
                                - report: 38753
                                  emmited_at: '2014-08-25T09:27:02.30295'
                                  result: 38
                                - report: 25932
                                  emmited_at: '2013-08-26T14:29:44.992168'
                                  result: 39
                                - report: 8184
                                  emmited_at: '2012-04-13T17:47:10.031674'
                                  result: 55
                            - assay: 23
                              title: Tensão Interfacial, a 25 ºC
                              unit: mN/m
                              method: NBR-6234
                              ref_type: 'Min. '
                              ref_value: 20
                              U: 0
                              result: 35
                              history:
                                - report: 166783
                                  emmited_at: '2021-04-01T13:52:10.499165'
                                  result: 35
                                - report: 148334
                                  emmited_at: '2020-04-09T14:16:42.727762'
                                  result: 30
                                - report: 125371
                                  emmited_at: '2019-03-08T14:15:35.182458'
                                  result: 35
                                - report: 110688
                                  emmited_at: '2018-05-08T15:47:33.156771'
                                  result: 36
                                - report: 83003
                                  emmited_at: '2016-07-08T14:40:04.628067'
                                  result: 33
                                - report: 52273
                                  emmited_at: '2015-08-04T16:51:19.882275'
                                  result: 31
                                - report: 38753
                                  emmited_at: '2014-08-25T09:27:02.30295'
                                  result: 36
                                - report: 25932
                                  emmited_at: '2013-08-26T14:29:44.992168'
                                  result: 34
                                - report: 8184
                                  emmited_at: '2012-04-13T17:47:10.031674'
                                  result: 34
                            - assay: 24
                              title: Teor de Água
                              unit: ppm
                              method: NBR-10710
                              ref_type: 'Max. '
                              ref_value: 15
                              U: 0
                              result: 2
                              history:
                                - report: 166783
                                  emmited_at: '2021-04-01T13:52:10.499165'
                                  result: 4
                                - report: 148334
                                  emmited_at: '2020-04-09T14:16:42.727762'
                                  result: 8
                                - report: 125371
                                  emmited_at: '2019-03-08T14:15:35.182458'
                                  result: 11
                                - report: 110688
                                  emmited_at: '2018-05-08T15:47:33.156771'
                                  result: 9
                                - report: 83003
                                  emmited_at: '2016-07-08T14:40:04.628067'
                                  result: 5
                                - report: 52273
                                  emmited_at: '2015-08-04T16:51:19.882275'
                                  result: 4
                                - report: 38753
                                  emmited_at: '2014-08-25T09:27:02.30295'
                                  result: 8
                                - report: 25932
                                  emmited_at: '2013-08-26T14:29:44.992168'
                                  result: 12
                                - report: 8184
                                  emmited_at: '2012-04-13T17:47:10.031674'
                                  result: 16
                          legend: LQ - Limite de quantificação. / <2 - Resultado abaixo do limite de quantificação. / U - Incerteza expandida de medição relatada em valor, declarada como a incerteza padrão de medição multiplicada pelo fator de abrangência k=2, de tal forma que a probabilidade de abrangência corresponda a aproximadamente 95%.
                          decisionRule: O laboratório químico adota como regra de decisão a somatória da somatória da estimativa de incerteza. Todos os resultados neste relatório consideram esta regra.
                    _messages: []
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
        - auth: []
  /v1/reports/spreadsheet:
    get:
      responses:
        '200':
          description: OK
          content:
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
        - auth: []
components:
  schemas:
    ResponseMessage:
      type: object
      properties:
        statusCode:
          type: integer
          description: código HTTP do status
        statusMessage:
          type: string
          description: Mensagem explicativa do status
        erro:
          type: string
          description: Descrição do erro
    Report:
      type: object
      properties:
        report:
          type: integer
          description: Identificação do laudo
        order:
          type: integer
          description: Identificação do pedido
        revision:
          type: integer
          description: Identificação da revisão do laudo
        status:
          type: string
          description: Status do laudo
        created:
          type: string
          description: Data e hora de criação do laudo
          format: date-time
        received:
          type: string
          description: Data e hora de recebimento da amostra
          format: date-time
        emmited:
          type: string
          description: Data e hora de emissão do laudo
          format: date-time
        nextCollect:
          type: string
          description: Data da próxima coleta
          format: date
        reportType:
          type: integer
          description: Código do tipo de laudo
        typetitle:
          type: string
          description: Título do tipo de laudo
        typeabbreviation:
          type: string
          description: Abreviação do tipo de laudo
        typedescription:
          type: string
          description: Descrição do tipo de laudo
        description:
          type: string
          description: Descrição do laudo
        diagnostic:
          type: string
          description: Diagnóstico do laudo
        recommendation:
          type: string
          description: Recomendação para o laudo
        observation:
          type: string
          description: Observações do laudo
        sign:
          type: string
          description: Assinatura do laudo
        criticality:
          type: object
          properties:
            recno:
              type: integer
              description: Código de criticidade
            label:
              type: string
              description: Descrição da criticidade
            level:
              type: string
              description: Nível de criticidade
              enum:
                - NORMAL
                - WARNING
                - CRITICAL
            codigo:
              type: string
        hash:
          type: string
          description: Código de verificação da combinação de ensaios do laudo
        customer:
          type: string
          description: Destinatário do laudo
        sample:
          type: integer
          description: Identificação da amostra que gerou o laudo
        ticket:
          type: string
          description: TAG
        sampler:
          type: string
          description: Amostrador - pessoa que coletou a amostra
        tenvironment:
          type: integer
          description: Temperatura ambiente no momento da coleta
        tsample:
          type: integer
          description: Temperatura da amostra no momento da coleta
        tdevice:
          type: number
          description: Temperatura do equipamento no momento da coleta
          format: float
        humidity:
          type: number
          description: Umidade do ar no momento da coleta
          format: float
        collect_date:
          type: string
          description: Data de coleta da amostra
          format: date
        expiration_at:
          type: string
          description: Data de expiração da esterelização do frasco e/ou seringa
          format: date
        samplestatus:
          type: string
          description: Status atual da amostra
          enum:
            - CREATED (Gerada)
            - EMITTED (Etiqueta impressa)
            - SENT (Vidraria enviada ao cliente)
            - RECEIVED (Vidraria recebida na Lorencini)
            - RELEASED (Em análise)
            - CONSUMED (Analisada)
            - CANCELLED (Cancelada)
        created_at:
          type: string
          description: Data de criação da amostra
          format: date-time
        emitted_at:
          type: string
          description: Data de emissão da etiqueta
          format: date-time
        sent_at:
          type: string
          description: Data de envio da vidraria para o cliente
          format: date-time
        received_at:
          type: string
          description: Data de recebimento da amostra pela Lorencini
          format: date-time
        released:
          type: string
          description: Data de liberação da amostra para análise
          format: date-time
        consumed_at:
          type: string
          description: Data de utilização da amostra
          format: date-time
        cancelled_at:
          type: string
          description: Data de cancelamento da amostra
          format: date-time
        device:
          type: integer
          description: Código do equipamento
        serie:
          type: string
          description: Série do equipamento
        devicename:
          type: string
          description: Nome do equipamento
        devicestatus:
          type: integer
          description: Código do status do equipamento
          enum:
            - 1 (Em Operação)
            - 0 (Desligado)
        familyname:
          type: string
          description: Família do equipamento
        manufacturer:
          type: string
          description: Fabricante do equipamento
        insulatorname:
          type: string
          description: Nome do isolante
        devicetypename:
          type: string
          description: Nome do tipo do equipamento
        devicetypeabreviation:
          type: string
          description: Abreviação do tipo de dispositivo
        local:
          type: string
          description: Localização do equipamento
        substation:
          type: string
          description: Subestação do equipamento
        tag:
          type: string
          description: Número de ativo do equipamento
        volume:
          type: integer
          description: Volume de fluído isolante no equipamento
        power:
          type: number
          description: Potência
        powera:
          type: number
          description: Potência primária
        powerb:
          type: number
          description: Potência secundária
        powerunit:
          type: string
          description: Escada da unidade de potência
        phases:
          type: integer
          description: Número de fases do dispositivo
        lote:
          type: string
          description: Lote de fabricação do dispositivo
        impedance:
          type: number
          description: Impedância
        impedancea:
          type: number
          description: Impedância primária
        impedanceb:
          type: number
          description: Impedância secundária
        voltage:
          type: number
          description: Tensão
        voltagea:
          type: number
          description: Tensão primária
        voltageb:
          type: number
          description: Tensão secundária
        voltageunit:
          type: string
          description: Escala da unidade de medida da tensão
        electriccurrent:
          type: number
          description: Corrente
        electriccurrenta:
          type: number
          description: Corrente primária
        electriccurrentb:
          type: number
          description: Corrente secundária
        year:
          type: integer
          description: Ano de fabricação do dispositivo
        titles:
          type: array
          description: Lista de títulos dos ensaios
          items:
            type: string
            description: Título do ensaio
        results:
          type: array
          description: Lista de resultados dos ensaios
          items:
            type: string
            description: Resultado do Ensaio
        assays:
          type: array
          description: Lista de códigos dos ensaios
          items:
            type: string
            description: Código do Ensaio
        note:
          type: string
          description: Observação geral
    Reports:
      type: object
      properties:
        hasNext:
          type: boolean
          description: Verdadeiro se houver a próxima página de dados
        items:
          type: array
          items:
            $ref: '#/components/schemas/Report'
        _messages:
          type: array
          items:
            type: string
    Report2:
      type: object
      properties:
        report:
          type: integer
          description: Identificação do laudo
        order:
          type: integer
          description: Identificação do pedido
        revision:
          type: integer
          description: Identificação da revisão do laudo
        status:
          type: string
          description: Status do laudo
        created:
          type: string
          description: Data e hora de criação do laudo
          format: date-time
        received:
          type: string
          description: Data e hora de recebimento da amostra
          format: date-time
        emmited:
          type: string
          description: Data e hora de emissão do laudo
          format: date-time
        nextCollect:
          type: string
          description: Data da próxima coleta
          format: date
        reportType:
          type: integer
          description: Código do tipo de laudo
        typetitle:
          type: string
          description: Título do tipo de laudo
        typeabbreviation:
          type: string
          description: Abreviação do tipo de laudo
        typedescription:
          type: string
          description: Descrição do tipo de laudo
        description:
          type: string
          description: Descrição do laudo
        diagnostic:
          type: string
          description: Diagnóstico do laudo
        recommendation:
          type: string
          description: Recomendação para o laudo
        observation:
          type: string
          description: Observações do laudo
        sign:
          type: string
          description: Assinatura do laudo
        criticality:
          type: object
          properties:
            recno:
              type: integer
              description: Código de criticidade
            label:
              type: string
              description: Descrição da criticidade
            level:
              type: string
              description: Nível de criticidade
              enum:
                - NORMAL
                - WARNING
                - CRITICAL
            codigo:
              type: string
        hash:
          type: string
          description: Código de verificação da combinação de ensaios do laudo
        customer:
          type: string
          description: Destinatário do laudo
        sample:
          type: integer
          description: Identificação da amostra que gerou o laudo
        ticket:
          type: string
          description: TAG
        sampler:
          type: string
          description: Amostrador - pessoa que coletou a amostra
        tenvironment:
          type: integer
          description: Temperatura ambiente no momento da coleta
        tsample:
          type: integer
          description: Temperatura da amostra no momento da coleta
        tdevice:
          type: number
          description: Temperatura do equipamento no momento da coleta
          format: float
        humidity:
          type: number
          description: Umidade do ar no momento da coleta
          format: float
        collect_date:
          type: string
          description: Data de coleta da amostra
          format: date
        expiration_at:
          type: string
          description: Data de expiração da esterelização do frasco e/ou seringa
          format: date
        samplestatus:
          type: string
          description: Status atual da amostra
          enum:
            - CREATED (Gerada)
            - EMITTED (Etiqueta impressa)
            - SENT (Vidraria enviada ao cliente)
            - RECEIVED (Vidraria recebida na Lorencini)
            - RELEASED (Em análise)
            - CONSUMED (Analisada)
            - CANCELLED (Cancelada)
        created_at:
          type: string
          description: Data de criação da amostra
          format: date-time
        emitted_at:
          type: string
          description: Data de emissão da etiqueta
          format: date-time
        sent_at:
          type: string
          description: Data de envio da vidraria para o cliente
          format: date-time
        received_at:
          type: string
          description: Data de recebimento da amostra pela Lorencini
          format: date-time
        released:
          type: string
          description: Data de liberação da amostra para análise
          format: date-time
        consumed_at:
          type: string
          description: Data de utilização da amostra
          format: date-time
        cancelled_at:
          type: string
          description: Data de cancelamento da amostra
          format: date-time
        device:
          type: integer
          description: Código do equipamento
        serie:
          type: string
          description: Série do equipamento
        devicename:
          type: string
          description: Nome do equipamento
        devicestatus:
          type: integer
          description: Código do status do equipamento
          enum:
            - 1 (Em Operação)
            - 0 (Desligado)
        familyname:
          type: string
          description: Família do equipamento
        manufacturer:
          type: string
          description: Fabricante do equipamento
        insulatorname:
          type: string
          description: Nome do isolante
        devicetypename:
          type: string
          description: Nome do tipo do equipamento
        devicetypeabreviation:
          type: string
          description: Abreviação do tipo de dispositivo
        local:
          type: string
          description: Localização do equipamento
        substation:
          type: string
          description: Subestação do equipamento
        tag:
          type: string
          description: Número de ativo do equipamento
        volume:
          type: integer
          description: Volume de fluído isolante no equipamento
        power:
          type: number
          description: Potência
        powera:
          type: number
          description: Potência primária
        powerb:
          type: number
          description: Potência secundária
        powerunit:
          type: string
          description: Escada da unidade de potência
        phases:
          type: integer
          description: Número de fases do dispositivo
        lote:
          type: string
          description: Lote de fabricação do dispositivo
        impedance:
          type: number
          description: Impedância
        impedancea:
          type: number
          description: Impedância primária
        impedanceb:
          type: number
          description: Impedância secundária
        voltage:
          type: number
          description: Tensão
        voltagea:
          type: number
          description: Tensão primária
        voltageb:
          type: number
          description: Tensão secundária
        voltageunit:
          type: string
          description: Escala da unidade de medida da tensão
        electriccurrent:
          type: number
          description: Corrente
        electriccurrenta:
          type: number
          description: Corrente primária
        electriccurrentb:
          type: number
          description: Corrente secundária
        year:
          type: integer
          description: Ano de fabricação do dispositivo
        titles:
          type: array
          description: Lista de títulos dos ensaios
          items:
            type: string
            description: Título do ensaio
        results:
          type: array
          description: Lista de resultados dos ensaios
          items:
            type: string
            description: Resultado do Ensaio
        assays:
          type: array
          description: Lista de códigos dos ensaios
          items:
            type: string
            description: Código do Ensaio
        note:
          type: string
          description: Observação geral
    Reports2:
      type: object
      properties:
        hasNext:
          type: boolean
          description: Verdadeiro se houver a próxima página de dados
        items:
          type: array
          items:
            $ref: '#/components/schemas/Report2'
        _messages:
          type: array
          items:
            type: string
  securitySchemes:
    auth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  responses:
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ResponseMessage'
          examples:
            Message:
              value:
                statusCode: 401
                statusMessage: Unauthorized
                erro: 'Usuário não autenticado: nome do usuário ou senha inválidos'
