*.exe
*.dll
*.bpl
*.bpi
*.dcp
*.so
*.apk
*.drc
*.map
*.dres
*.rsm
*.tds
*.dcu
*.lib
*.a
*.o
*.ocx
*.svn

# Delphi local files (user-specific info)
*.local
*.identcache
*.projdata
*.tvsconfig
*.dsk

# Delphi history and backups
__history/
__recovery/
_release
_debug
*.~*

# Castalia statistics file (since XE7 Castalia is distributed with Delphi)
*.stat
.git
.svn
Output
Recursos

.git
.svn
*.jpg
*.png
*.exe
*.dll
*.msd
*.cfg
*.pdf
*.psd
*.bmp
temp
bin*
data
Data
*.def
*.7z
*.save